### Generación de datos

Se obtiene nombre, altura y sexo de los alumnos de la carrera de Software, y se organizan en un dataframe.

In [20]:
import pandas as pd

nombres = ['Fer', 'Ale', 'Alex Muñoz', 'Gael', 'Erick', 'Angie', 'Karla', 'Angel', 
           'Derik', 'Jose Jacal', 'Leo Dorantes', 'Lalo', 'Antonio', 'Luis Hurtado']

estaturas = [180, 170, 170, 168, 165, 168, 170, 175, 174, 175, 171, 172, 170, 177]

sexo = ['Hombre', 'Hombre', 'Hombre', 'Hombre', 'Hombre', 'Mujer', 'Mujer', 'Hombre', 
        'Hombre', 'Hombre', 'Hombre', 'Hombre', 'Hombre', 'Hombre']

df = pd.DataFrame({'nombre': nombres, 'estatura (cm)': estaturas, 'sexo': sexo})

df

          nombre  estatura (cm)    sexo
0            Fer            180  Hombre
1            Ale            170  Hombre
2     Alex Muñoz            170  Hombre
3           Gael            168  Hombre
4          Erick            165  Hombre
5          Angie            168   Mujer
6          Karla            170   Mujer
7          Angel            175  Hombre
8          Derik            174  Hombre
9     Jose Jacal            175  Hombre
10  Leo Dorantes            171  Hombre
11          Lalo            172  Hombre
12       Antonio            170  Hombre
13  Luis Hurtado            177  Hombre

## Pruebas de hipótesis

#### **`1. ¿Tienen los y las estudiantes una estatura media diferente de 175 cm?`**

**1.1 Planteamiento de la hipótesis nula y alternativa**:

La hipótesis nula es la que queremos desacreditar.

   - **Hipótesis nula ($H_0$)**: La estatura media de los estudiantes es igual a 175 cm. ( $H_0$: $\mu$ = 175 )

La hipótesis alternativa es la posible verdad si se rechaza la hipótesis nula. 

   - **Hipótesis alternativa ($H_1$)**: La estatura media de los estudiantes es diferente de 175 cm. ( $H_1$: $\mu$ $\neq$ 175 )

**1.2 Cálculo de la media y desviación estándar**:

Calculamos la media y desviación estándar de las estaturas, y el tamaño de la muestra para continuar con la prueba de hipótesis.

In [21]:
# Se calcula media y desviación estándar
media_estatura = df['estatura (cm)'].mean()
desviacion_estandar = df['estatura (cm)'].std()
# Se obtiene el tamaño de la muestra
n = len(df)

print('Media de la estutatura: ', round(media_estatura,2))
print('Desviación estándar de la estutatura: ', round(desviacion_estandar,2))
print('Tamaño de la muestra: ', n)

Media de la estutatura:  171.79
Desviación estándar de la estutatura:  4.0
Tamaño de la muestra:  14

**1.3 Prueba t de student**:

Aplicamos una **prueba t de Student** para una muestra, cuya fórmula es la siguiente:

$$
t = \frac{\bar{x} - \mu_0}{\frac{s}{\sqrt{n}}}
$$

Donde:
- $\bar{x}$ es la media muestral (en este caso, la media de las estaturas que hemos calculado).
- $\mu_0$ es la media teórica, que en este caso es 175 cm.
- $s$ es la desviación estándar de la muestra.
- $n$ es el tamaño de la muestra.

Esta fórmula nos da el valor del estadístico t, el cual se usa para determinar si hay una diferencia significativa entre la media muestral y la media teórica.

In [30]:
import numpy as np

mu_0 = 175
ts= (media_estatura - mu_0) / (desviacion_estandar / np.sqrt(n))

print('Estadístico t:',round(ts,4))

Estadístico t: -3.0041

**1.4 Grados de Libertad (df)**:

Representan el número de valores independientes que pueden variar sin restricciones en un análisis estadístico.
- En una prueba t de una muestra, se calcula como:

$$df = n - 1$$

In [26]:
grados_libertad = n-1

grados_libertad

13

**1.5 P_value**:

Mide la significancia estadística de los resultados de una prueba. Interpretación:

  - **Valor p bajo** (p < 0.05 ): suficiente evidencia para rechazar la hipótesis nula (la media muestral es significativamente diferente de la media teórica).
  - **Valor p alto**: no hay suficiente evidencia para rechazar la hipótesis nula (la media muestral podría ser similar a la media teórica).

Los grados de libertad afectan la distribución t utilizada para calcular el valor p, que ayuda a determinar la significancia de los resultados.

In [33]:
# Librería para trabajar con la distribución t de Student
from scipy.stats import t

# Se multiplica por 2 para obtener el valor p en una prueba bilateral
p_value = 2 * (1 - t.cdf(np.abs(ts), grados_libertad))

print('Valor p:', round(p_value,4))

Valor p: 0.0102

**1.6 Interpretación del resultado**:

Con base en el valor p obtenido, tomamos una decisión sobre la hipótesis nula.

In [34]:
# Interpretación del valor p
if p_value < 0.05:
    print("Rechazamos la hipótesis nula: la estatura media es significativamente diferente de 175 cm.")
else:
    print("No rechazamos la hipótesis nula: no hay evidencia suficiente para decir que la estatura media es diferente de 175 cm.")

Rechazamos la hipótesis nula: la estatura media es significativamente diferente de 175 cm.

`2. ¿Es la desviación estándar de su estatura igual a o menor que 10 cm?`

`3. ¿Es diferente la estatura promedio de las mujeres comparada con la de los hombres?`