### `Pandas`
Para manipulación y análisis de datos en estructuras como DataFrames.

In [1]:
import pandas as pd

### `Sklearn`
Para aprendizaje automático que incluye herramientas para clasificación, regresión y datasets predefinidos.

In [2]:
from sklearn.datasets import load_iris

### `Iris dataset`
Conjunto de datos clásico que contiene 150 muestras de flores Iris con 4 características (largo y ancho del sépalo y pétalo) para tres especies diferentes.

In [3]:
data = load_iris()

### `DataFrame`
Estructura de datos de dos dimensiones.

In [4]:
df = pd.DataFrame(data.data, columns=data.feature_names)
df['species'] = pd.Categorical.from_codes(data.target, data.target_names) 
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

### `Tipos de dato y de variables`

In [5]:
df1 = pd.DataFrame({'Atributo': ['sepal_lenght','sepal_width','petal_lenght','petal_width','specie'], 
                    'Tipo de dato': ['Cuantitativo','Cuantitativo','Cuantitativo','Cuantitativo', 'Cualitativo'],
                    'Tipo de variable': ['Continuo','Continuo','Continuo','Continuo', 'Ordinal']})
df1

       Atributo  Tipo de dato Tipo de variable
0  sepal_lenght  Cuantitativo         Continuo
1   sepal_width  Cuantitativo         Continuo
2  petal_lenght  Cuantitativo         Continuo
3   petal_width  Cuantitativo         Continuo
4        specie   Cualitativo          Ordinal

### `Describe()`
Genera estadísticas descriptivas del DataFrame, como la media, desviación estándar, valores mínimos, máximos y percentiles para las columnas numéricas.

In [6]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000