### Generación de datos

Se obtiene nombre, altura y sexo de los alumnos de la carrera de Software, y se organizan en un dataframe.

In [1]:
import pandas as pd

nombres = ['Fer', 'Ale', 'Alex Muñoz', 'Gael', 'Erick', 'Angie', 'Karla', 'Angel', 
           'Derik', 'Jose Jacal', 'Leo Dorantes', 'Lalo', 'Antonio', 'Luis Hurtado']

estaturas = [180, 170, 170, 168, 165, 168, 170, 175, 174, 175, 171, 172, 170, 177]

sexo = ['Hombre', 'Hombre', 'Hombre', 'Hombre', 'Hombre', 'Mujer', 'Mujer', 'Hombre', 
        'Hombre', 'Hombre', 'Hombre', 'Hombre', 'Hombre', 'Hombre']

df = pd.DataFrame({'nombre': nombres, 'estatura (cm)': estaturas, 'sexo': sexo})

df

          nombre  estatura (cm)    sexo
0            Fer            180  Hombre
1            Ale            170  Hombre
2     Alex Muñoz            170  Hombre
3           Gael            168  Hombre
4          Erick            165  Hombre
5          Angie            168   Mujer
6          Karla            170   Mujer
7          Angel            175  Hombre
8          Derik            174  Hombre
9     Jose Jacal            175  Hombre
10  Leo Dorantes            171  Hombre
11          Lalo            172  Hombre
12       Antonio            170  Hombre
13  Luis Hurtado            177  Hombre

### Pruebas de hipótesis

Para cada hipótesis planteada se generan estadísticos de prueba que rechazan o no a las mismas.

`1. ¿Tienen las estudiantes una estatura media diferente de 175 cm?`

Sí, las estudiantes tienen una estatura media diferente de 175 cm.

In [4]:
mujeres_df = df[df['sexo'] == 'Mujer']

estatura_media_mujeres = mujeres_df['estatura (cm)'].mean()

print("Estatura media de las mujeres: ", estatura_media_mujeres, "cm")

Estatura media de las mujeres:  169.0 cm

`¿Es la desviación estándar de su estatura igual a o menor que 10 cm?`

Sí, la desviación estándar de su estatura es menor que 10 cm.

In [6]:
std_estatura_mujeres = mujeres_df['estatura (cm)'].std()

print("Desviación estándar de la estatura de las mujeres: ", round(std_estatura_mujeres,2), "cm")

Desviación estándar de la estatura de las mujeres:  1.41 cm

`¿Es diferente la estatura promedio de las mujeres comparada con la de los hombres?`

Sí, la estatura promedio de las mujeres comparada con la de los hombres es diferente.

In [7]:
hombres_df = df[df['sexo'] == 'Hombre']

estatura_media_hombres = hombres_df['estatura (cm)'].mean()

print("Estatura media de los hombres: ", estatura_media_hombres, "cm")

Estatura media de los hombres:  172.25 cm